body{
    padding: 30px;
}
table{
    border-collapse: collapse;
}
table,tr,td{
    border: 1px solid black;
}
td{
    font-size: 50px;
    height: 80px;
    width: 100px;
    text-align:center;
    padding: 10px;
    cursor: pointer;
}
td:hover{
    background-color: rgb(124, 28, 28);
}
.celdaJugada{
    background-color: lightpink;
}
.eventos{
    
}